<section
  [id]="section().id"
  class="section"
  [class]="'section--' + section().background"
  [class.section--dotted]="section().dotted"
>
  <div class="section-inner">
    <div class="section__heading">
      <h2>{{ section().heading }}</h2>
      @if (section().intro) {
        <p>{{ section().intro }}</p>
      }
    </div>
    @if (section().focalPhoto; as focalPhoto) {
      <figure class="collage__focal">
        <button
          type="button"
          class="collage__photo-button"
          [attr.aria-label]="ariaLabelFor(focalPhoto)"
          (click)="onPhotoActivated($event, focalPhoto)"
        >
          <img
            [src]="photoPath(focalPhoto.fileName)"
            [alt]="focalPhoto.altText"
            loading="lazy"
            decoding="async"
            (error)="onImageLoadError($event, focalPhoto.fallbackLabel)"
          />
        </button>
        <figcaption
          class="collage__caption"
          [class.collage__caption--link]="isLinkStyled(focalPhoto)"
        >
          {{ focalPhoto.caption }}
        </figcaption>
      </figure>
    }
    <div class="collage">
      @for (photo of section().photos; track photo.fileName) {
        <figure class="collage__item">
          <button
            type="button"
            class="collage__photo-button"
            [attr.aria-label]="ariaLabelFor(photo)"
            (click)="onPhotoActivated($event, photo)"
          >
            <img
              [src]="photoPath(photo.fileName)"
              [alt]="photo.altText"
              loading="lazy"
              decoding="async"
              (error)="onImageLoadError($event, photo.fallbackLabel)"
            />
          </button>
          <figcaption class="collage__caption" [class.collage__caption--link]="isLinkStyled(photo)">
            {{ photo.caption }}
          </figcaption>
        </figure>
      }
    </div>
  </div>
</section>
