<section
  [id]="section().id"
  class="section"
  [class]="'section--' + section().background"
  [class.section--dotted]="section().dotted"
>
  <div class="section-inner">
    <div class="section__heading">
      <h2>{{ section().heading }}</h2>
      @if (section().intro) {
        <p>{{ section().intro }}</p>
      }
    </div>
    @if (section().focalPhoto; as focalPhoto) {
      <figure class="collage__focal">
        <button
          type="button"
          class="collage__photo-button"
          [attr.aria-label]="ariaLabelFor(focalPhoto)"
          (click)="onPhotoActivated($event, focalPhoto)"
        >
          <img
            appImageSkeleton
            [src]="photoPath(focalPhoto.fileName)"
            [srcset]="buildPhotoSrcset(focalPhoto.fileName)"
            sizes="(max-width: 640px) 80vw, 720px"
            [alt]="focalPhoto.altText"
            loading="lazy"
            decoding="async"
            (error)="onImageLoadError($event, focalPhoto.fallbackLabel)"
          />
          <span class="collage__caption" [class.collage__caption--link]="isLinkStyled(focalPhoto)">
            {{ focalPhoto.caption }}
          </span>
        </button>
      </figure>
    }
    <div class="collage">
      @for (photo of section().photos; track photo.fileName) {
        <figure class="collage__item">
          <button
            type="button"
            class="collage__photo-button"
            [attr.aria-label]="ariaLabelFor(photo)"
            (click)="onPhotoActivated($event, photo)"
          >
            <img
              appImageSkeleton
              [src]="photoPath(photo.fileName)"
              [srcset]="buildPhotoSrcset(photo.fileName)"
              sizes="(max-width: 480px) 45vw, 320px"
              [alt]="photo.altText"
              loading="lazy"
              decoding="async"
              (error)="onImageLoadError($event, photo.fallbackLabel)"
            />
            <span class="collage__caption" [class.collage__caption--link]="isLinkStyled(photo)">
              {{ photo.caption }}
            </span>
          </button>
        </figure>
      }
    </div>
  </div>
</section>
