<article class="recipe-card">
  <h3 class="recipe-card__title">{{ recipe().title }}</h3>
  @if (recipe().description) {
    <p class="recipe-card__description">{{ recipe().description }}</p>
  }
  <h4 class="recipe-card__heading">Ingredients</h4>
  <ul class="recipe-card__list">
    @for (ingredient of recipe().ingredients; track ingredient) {
      <li>{{ ingredient }}</li>
    }
  </ul>
  <h4 class="recipe-card__heading">Instructions</h4>
  <ol class="recipe-card__list recipe-card__list--numbered">
    @for (step of recipe().instructions; track step) {
      <li>{{ step }}</li>
    }
  </ol>
</article>
